.app {
  text-align: left;
}

.contents {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
}

.intro-text {
  margin-top: calc(4px + 2vmin);
  margin-bottom: calc(4px + 2vmin); 
}

.step-heading {
  font-size: calc(12px + 1vmin);
  font-weight: bold;
  text-decoration: underline;
}

.step-contents {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
